/* Add to index.css or create a new file. I'll append to index.css later or just add styles here if I could, but I'll stick to index.css for global styles or use inline styles/module. 
   I'll add the class to index.css in the next step. 
   For now, I'll assume the class exists or I'll add it.
*/
